@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-accent: #ff2b44;
  --color-card: #f3f3f3;
  --color-surface: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --color-accent: #ff2b44;
    --foreground: #ededed;
    --color-card: #171717;
    --color-surface: #1f1f1f;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ibm-plex-mono);
  --color-accent: var(--color-accent);
  --animate-blur: blurUp 0.3s ease-out forwards;
  
}



body {
  background: var(--background);
  color: var(--foreground);
  
  
}

::selection{
  background-color: #ff2b44;
  color: white;
  font-weight: 900;
}



::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: var(--color-card);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-surface);
}
::-webkit-scrollbar{
  width: 0px;
}

button:focus-visible{
  outline: 1px solid var(--color-accent);
}
a:focus-visible{
  outline: 1px solid var(--color-accent);
}
button{
  outline: none;
}