@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-accent: #ff2b44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --color-accent: #ff2b44;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-mono: var(--font-ibm-plex-mono);
  --color-accent: var(--color-accent)
}



body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  
}

::selection{
  background-color: #ff2b44;
  color: white;
  font-weight: 900;
}
